<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
     <nav id="navbar">
        <div id="navbar-left">
            <img src="../static/logo.png" alt="logo" id="img-logo">
            <h4>Scan<span style="color: red;">X</span>pert</h4>

        </div>

        <div id="navbar-right">
            <ul>
                <li><a href="#">Subdomain Enumeration</a></li>
                <li><a href="#">Network Scan</a></li>
                <li><a href="#">Fuzzing</a></li>
                <li><a href="#">Host Discovery</a></li>
                <li><a href="#">Google Dorking</a></li>
                <li><a href="#">About</a></li>
            </ul>
            
        </div>
    </nav>

    <div class="main">
        <div class="div1">
            <h1 id="heading">Uncover Hidden Vulnerabilities Before They Exploit You</h1>
                <p>Our ScanXpert Platform empowers penetration testers and developers...</p>
                <ul>
                    <li>✅ Automate Attack Surface Mapping</li>
                    <li>✅ Scan for Critical Vulnerabilities</li>
                    <li>✅ Assess Real-World Risks</li>
                    <li>✅ Generate Reports in Minutes</li>
                </ul>

                <button>Hack Smarter</button>
        </div>


        <div class="div2">

            <img src="../static/photo_2025-02-19_23-59-41.jpg" alt="" id="kali">
            


        </div>

    </div>

 
    
</body>
</html>