{% extends "basetemplate.html" %}
{% block title %} Network Scanner {% endblock title %}

{% block content %}

<div class="container">
    <div class="net_left">
        <div class="net_form">
            <input type="text" placeholder="Enter Domain or IP">
            <form action="/action_page.php">
                <p>Select:</p>

                <input type="radio" id="simple" name="fav_scan" value="Simple">
                <label for="simple">Simple</label><br>

                <input type="radio" id="moderate" name="fav_scan" value="Moderate">
                <label for="moderate">Moderate</label><br>

                <input type="radio" id="deep" name="fav_scan" value="Deep">
                <label for="deep">Deep</label>
            </form>

            <button>Scan</button>
        </div>

        <div class="top-triangle">
            <img src="../static/img/hollywood.gif" alt="hollywood.gif">
        </div>
        <div class="net_right">
            <img src="../static/img/hollywood.gif" alt="hollywood.gif">
        </div>
    </div>

    <!-- New div that appears to the right of net_left -->
    <div class="net_cli">
        <textarea name="cli" id="area_cli">Command Interface</textarea>
    </div>
</div>

<div class="net_view">
    <table id="net_view_table">
        <tr>
            <th>Service </th>
            <th>Port</th>
            <th>Version</th>
            <th>State</th>
        </tr>

        <tr>
            <td>http</td>
            <td>80</td>
            <td>1.1</td>
            <td>open</td>
        </tr>
    </table>


</div>


{% endblock content %}
